# Run airodump with the selected networks to generate teh csv data needed for the airodump_tracker
# Put it in /etc/systemd/system/

[Unit]
After=bluetooth.service

[Service]
ExecStart=/work/ha-airodump-tracker/airodump-systemd/run_airodump.sh
Restart=always

[Install]
WantedBy=default.target
